In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
if x < 5:
    print( x)
print (5)

NameError: name 'x' is not defined

In [5]:
import collections
collections.namedtuple?

In [7]:
import numpy as np
np.*mean*?

In [11]:
print ("hi")

hi

In [12]:
%history

if x < 5:
    print x
print 5
if x < 5:
    print( x)
print (5)
import collections
collections.namedtuple?
import datastructure
datastructure.namedtuple?
import collections
collections.namedtuple?
import numpy as np
np.*mean*?
import numpy as np
np.*mean*?


print "hi"
print "hi"
print (hi)
print ("hi")
%history

In [20]:
i = 5
a =7
i ='pavani'
print ('Value is ', i) # Error! Notice a single space at the start of the li
print ('I repeat, the value is ', i)

Value is  pavani
I repeat, the value is  pavani

In [34]:
# this is a single line comment
'''
print("We are in a comment")
print ("We are still in a comment")
'''
'''
print("We are out of the comment")
'''
'''
print("hema")
'''

'\nprint("hema")\n'

In [37]:
'''
for hema in alist:
    if hema < anumber:
            print(hema)
    else:
        print(-pavani)

is similar to

for x in alist
{if x < anumber  {
        print(x)
    }
    else
    {
        print(-x)
    }
}
'''

'\nfor hema in alist:\n    if hema < anumber:\n            print(hema)\n    else:\n        print(-pavani)\n        \nis similar to\n\nfor x in alist \n{if x < anumber  {\n        print(x)\n    }\n    else\n    {\n        print(-x)\n    }\n}\n'

In [42]:
if 4 < 5:
  print (4)
print (5)

4
5

In [45]:
x = 21
y =25
print (x)
if x<10:
    print (x)

    print (y)

21

In [47]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = 'Ajay'        # A string

print (counter)
print (miles)
print (name)

a = 11111
b = 2.0
c = "0"
d = "2"
print(b + a)
print(c  + d)

100
1000.0
Ajay
11113.0
02

In [54]:
str = 'Hello World'
print (str)    # prints complete string
print (str[0]) # prints first character of string
print (str[2:5])  #prints characters starting from 3rd to 5th
print (str[2:])    #prints string starting from 3rd character
print ((str*11))    #prints string two times
print (str + "TEST")   # prints concatenated string

Hello World
H
llo
llo World
Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World
Hello WorldTEST

In [3]:

str ="hello"
print(str[-1])

a = 'this is a string'
b = a.replace('string','longer string')
print(a)
print(b)

a = '20'
anum = int(a)
print(anum + anum)

a = "10"
anum = int(a)
print(anum)

o
this is a string
this is a longer string
40
10

In [4]:
a = "hi"
print (a)
print (len(a))

hi
2

In [7]:
string = "This is python"
strlist = list(string)
print(strlist)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [8]:
format = '%.2f %s is $%d'
format %(83.5560,'Indian Rupees',1)

'83.56 Indian Rupees is $1'

In [10]:
print (string.count('s'))
print (string.split(' '))
print (string.upper())
print (string.lower())
print (string.swapcase())

2
['This', 'is', 'python']
THIS IS PYTHON
this is python
tHIS IS PYTHON

In [11]:
str1 = "    This is a bright, sunny day      "
print (str1.strip())
print (str1.lstrip())
print (str1.rstrip())
print (":".join(str1))
print (len(str1))

This is a bright, sunny day
This is a bright, sunny day
    This is a bright, sunny day
 : : : :T:h:i:s: :i:s: :a: :b:r:i:g:h:t:,: :s:u:n:n:y: :d:a:y: : : : : :
37

In [12]:

school = 'ISB'
print ('S' in school)
'L' in school

True

False